a {
   text-decoration: none;
}

body {
   font-family: 'Roboto', sans-serif;

   color: $primary-text-color;
   background-color: $white-color;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   @media screen and (min-width: $mobile) {
      width: $mobile;
      
   }
   @media screen and (min-width: $tablet) {
    width: $tablet;

 }

   @media screen and (min-width: $desktop) {
   width: $desktop;

}
   

}

img {
   display: block;
   max-width: 100%;
   height: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;

}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

section {

   padding-top: 60px;
   padding-bottom: 60px;

   @media screen and (min-width: $desktop) {

      padding-top: 94px;
      padding-bottom: 94px;
   }
}

.work__title,
.team__title,
.clients__title {
   
   margin-bottom: 30px;

   font-weight: 700;
   font-size: 28px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;

   color: $title-text-color;

   @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
      
      }
}

